/* Beispiel für die Einbindung zusätzlicher Schriftarten via Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;700&display=swap');


/* Beispiel für die einfache Einbindung eines Farbschema, generiert auf coolors.co */
:root {
    --lightblue: #39B3ED;
}

.attachment-full {
    position: fixed;
    top: 0;
    left: 0;
}

.hidden {
    display: none !important;
}

body {
    background-color: var(--snow);
    font-family: 'Space Grotesk', sans-serif;
    margin: 0;
    padding: 0;
}

.ui {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 0 auto;
    padding: 0;
}

.ui h1 {
    text-align: center;
    color: var(--jet);
}

div.topbar {
    box-shadow: 0px 1px 5px grey;
}

ul.topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 10vw;
    list-style-type: none;
}

li.logo {
    width: 5vw;
}

li.link a {
    color: var(--lightblue);
    font-weight: bold;
    text-decoration: none;
    
}

.topbar a:active {
    color:goldenrod;
}

div.sidebar {
    width: 2vw;
}

ul.sidebar {
    width: 2vw;
    height: 60vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
    background-color: var(--lightblue);
}

div.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80vw;
    margin: 5vw;
}

div.card {
    width: 25vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

div.header {
    padding: 10px;
    font-size: 20px;
}

div.header h2 {
    margin: 0;
}
  
div.container {
    padding: 10px;
}

div.button-new-card {
    position: fixed;
    bottom: 5vh;
    right: 5vh;
    width: 3vw;
    height: 3vw;
    background-color: var(--lightblue);
    border-radius: 100%;
    font-weight: bold;
    font-size: 30px;
    color: white;
    text-align: center;;
}