/* Beispiel für die Einbindung zusätzlicher Schriftarten via Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;700&display=swap');


/* Beispiel für die einfache Einbindung eines Farbschema, generiert auf coolors.co */
:root {
    --lightblue: #39B3ED;
    --darkblue: #1D68A5;
    --gold: #ECB855;
    --lightgray: #EEEEEE;
}

.attachment-full {
    position: fixed;
    top: 0;
    left: 0;
}

.hidden {
    display: none !important;
}

body {
    background-color: var(--snow);
    font-family: 'Space Grotesk', sans-serif;
    margin: 0;
    padding: 0;
}

.ui {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 0 auto;
    padding: 0;
}

.ui h1 {
    text-align: center;
    margin: 5px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

input {
    width: 200px; 
    height: 25px; 
    padding: 5px;
    margin: 10px;
    border: 3px solid var(--lightblue); 
    border-radius: 10px;
}

input[type="submit"] {
    width: 216px; 
    height: 41px; 
    color: white; 
    background-color: var(--lightblue);
    cursor: pointer;
}

input[type="submit"]:hover {
    color: var(--lightblue); 
    background-color: white;
}

div.topbar {
    box-shadow: 0px 1px 5px grey;
}

ul.topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
    margin-right: 10vw;
    list-style-type: none;
}

li.logo {
    width: 5vw;
}

li.link {
    display: inline-block;
    padding: 0 5vw;
    align-self: flex-end;
}

li.link a {
    color: var(--lightblue);
    font-weight: bold;
    text-decoration: none;
}

.topbar a:hover {
    color:var(--gold);
}

div.sidebar {
    width: 2vw;
}

ul.sidebar {
    width: 2vw;
    height: 60vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
    background-color: var(--lightblue);
}

div.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 80vw;
    margin: 5vw;
}

div.card {
    width: 25vw;
    margin-bottom: 5vh;
    text-align: center;
    background-color: transparent;
    perspective: 1000px;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--lightgray);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-inner-turn {
    transition: transform 0.8s;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}

.card-front, .card-back {
    backface-visibility: hidden;
}

.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: rotateY(180deg);
}

div.header {
    padding: 10px;
    font-size: 20px;
}

div.header h2 {
    margin: 0;
}

input.title-input {
    width: calc(100% - 16px);
    margin: 0;
    display: none;
}
  
div.container {
    padding: 20px;
}

input.text-input {
    width: calc(100% - 16px);
    margin: 0;
    display: none;
}

div.turn, div.reverse {
    position: absolute;
    width: 100%;
    bottom: 0;
}

div.button-new-card {
    position: fixed;
    bottom: 5vh;
    right: 5vh;
    width: 3vw;
    height: 3vw;
    background-color: var(--lightblue);
    border-radius: 100%;
    font-weight: bold;
    font-size: 30px;
    color: white;
    text-align: center;
    cursor: pointer;
}